<h1 mat-dialog-title appFontSize>Abm Usuario</h1>
<div mat-dialog-content>
  <form class="grid formgrid" [formGroup]="usuarioForm">
    <!-- CONTROL DE NOMBRE -->

    <div class="col-4 field">
      <mat-form-field class="w-full">
        <mat-label>Nombre</mat-label>
        <input
          [formControl]="nombreControl"
          type="text"
          matInput
        >
        <mat-error *ngFor="let error of nombreControl.errors | keyvalue">{{ error | controlErrorMessages }}</mat-error>
      </mat-form-field>
    </div>


    <!-- CONTROL DE APELLIDO -->
    <div class="col-4 field">
      <mat-form-field class="w-full">
        <mat-label>Apellido</mat-label>
        <input
          [formControl]="apellidoControl"
          type="text"
          matInput
        >
        <mat-error *ngFor="let error of apellidoControl.errors | keyvalue">{{ error | controlErrorMessages }}</mat-error>
      </mat-form-field>
    </div>

    <!-- CONTROL DE EMAIL -->
    <div class="col-4 field">
        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <input
            [formControl]="emailControl"
            type="text"
            matInput
          >
          <mat-error *ngFor="let error of emailControl.errors | keyvalue">{{ error | controlErrorMessages }}</mat-error>
        </mat-form-field>
      </div>

      <!-- CONTROL DE EDAD -->
    <div class="col-3 field">
        <mat-form-field class="w-full">
          <mat-label>Pass</mat-label>
          <input
            [formControl]="passControl"
            type="pass"
            matInput
          >
          <mat-error *ngFor="let error of passControl.errors | keyvalue">{{ error | controlErrorMessages }}</mat-error>
        </mat-form-field>
      </div>

      <!-- CONTROL DE GENERO -->
    <div class="col-5 field">
        <mat-form-field appearance="fill">
            <mat-label>Role</mat-label>
            <mat-select  name="alumnos" [formControl]="roleControl">
              <mat-option value="admin">
                Admin
              </mat-option> 
              <mat-option value="estudiante">
                estudiante
              </mat-option> 
            </mat-select>
          </mat-form-field>
      </div>

  </form>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button (click)="guardar()" mat-button>Agregar</button>
</div>