<h1 mat-dialog-title appFontSize>Abm Alumno</h1>
<div mat-dialog-content>
  <form class="grid formgrid" [formGroup]="alumnosForm">
    <!-- CONTROL DE NOMBRE -->

    <div class="col-4 field">
      <mat-form-field class="w-full">
        <mat-label>Nombre</mat-label>
        <input
          [formControl]="nombreControl"
          type="text"
          matInput
        >
        <mat-error *ngFor="let error of nombreControl.errors | keyvalue">{{ error | controlErrorMessages }}</mat-error>
      </mat-form-field>
    </div>


    <!-- CONTROL DE APELLIDO -->
    <div class="col-4 field">
      <mat-form-field class="w-full">
        <mat-label>Apellido</mat-label>
        <input
          [formControl]="apellidoControl"
          type="text"
          matInput
        >
        <mat-error *ngFor="let error of apellidoControl.errors | keyvalue">{{ error | controlErrorMessages }}</mat-error>
      </mat-form-field>
    </div>

    <!-- CONTROL DE EMAIL -->
    <div class="col-4 field">
        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <input
            [formControl]="emailControl"
            type="text"
            matInput
          >
          <mat-error *ngFor="let error of emailControl.errors | keyvalue">{{ error | controlErrorMessages }}</mat-error>
        </mat-form-field>
      </div>

      <!-- CONTROL DE EDAD -->
    <div class="col-3 field">
        <mat-form-field class="w-full">
          <mat-label>Edad</mat-label>
          <input
            [formControl]="edadControl"
            type="number"
            matInput
          >
          <mat-error *ngFor="let error of edadControl.errors | keyvalue">{{ error | controlErrorMessages }}</mat-error>
        </mat-form-field>
      </div>

      <!-- CONTROL DE FECHA DE NACIMIENTO -->
    <div class="col-4 field">
        <mat-form-field class="w-full">
          <mat-label>Fecha de Nacimiento</mat-label>
          <input matInput [matDatepicker]="picker1" [formControl]="nacimientoControl">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- CONTROL DE GENERO -->
    <div class="col-5 field">
        <p>Género</p>
          <mat-radio-group [formControl]="generoControl">
            <mat-radio-button value="F">Femenino</mat-radio-button>
            <mat-radio-button value="M">Masculino</mat-radio-button>
          </mat-radio-group>
      </div>

  </form>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button (click)="guardar()" mat-button>Guardar</button>
</div>